.switch-wrapper{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 5%;
    z-index: 10;
}

/* .theme-switch{
    display: inline-block;
    position: relative;
    width: 9rem;
    height: 3.5rem;
} */
/* .theme-switch input{
    display: none;
} */
.slider{
     position: relative;
     left: 0%;
     height: 3rem;
     width: 7rem;
     border-radius: 2rem;
     background-image:linear-gradient(30deg,#FAA17A,#FFC170);
     transition:  background .4s;

}

#knob{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #f7f7f7;
    opacity: 80%;
    transition: transform .4s;
    filter: blur(.5px);
    transition: all .3s linear;

}

#sun{

    position: absolute;
    transform: scale(0);
    left: 0;
    z-index: 5;
    transition:  1.5s ease-out ;
    transform-origin: bottom;
    
}
.sun-img{
    padding-top: .4rem;
    padding-left: .2rem;
    width: 2.2rem;
}

#moon{
    position: absolute;
    right: 0;
    z-index: 5;
    transition:  1.5s ease-out ;
    transform-origin: top;

    

}
.moon-img{
    padding-top: .2rem;
    width: 2.6rem;
    
}




@media only screen and (max-width: 600px){
    .switch-wrapper{
        right: 3%;
        top: 2%;
    }
    .slider{
        width: 4rem;
        height: 2rem;
    }
    #knob{
        width: 2rem;
        height: 2rem;
    }
    .moon-img{
        padding-top: .4rem;
     width: 1.3rem;   
    }
    .sun-img{
        width: 1.5rem;
    }
}  